<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <%- include ('../../partials/header.ejs') %>
</head>
<body>
    <%- include ('../../partials/navbar.ejs') %>

    <div class="container"> 

        <div class="card">

            <div class="card-header">     
                <h4> Cadastro de categoria </h4>
            </div>

        <form action="/admin/categories/createcategory" method="POST">

            <div class="card-body">     
                
            <label>Nome da categoria</label><br>
            <input type="text" name="name" class="form-control"> <br>
            <button class="btn btn-success"> Cadastrar </button>
           
            </div>
        </form> 
    </div> 

</body>
    <%- include ('../../partials/footer.ejs') %>
</html>