<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <%- include ('../../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/createcategory.css"> 
</head>
<body>
    <%- include ('../../partials/navbar.ejs') %>

    <div class="container"> 
        
        <br>
        <div class="card">

            <div class="card-header">
                <h4 style="float:left"> Cadastro de categoria </h4>
                <a style="float:right" href="/">Voltar</a>
            </div>

        <form action="/admin/categories/createcategory" method="POST">

            <div class="card-body">     
                
            <label>Nome da categoria</label><br>
            <input type="text" name="name" class="form-control"> <br>
            <button class="btn btn-success"> Cadastrar </button>
           
            </div>
        </form> 
    </div> 

</body>
    <%- include ('../../partials/footer.ejs') %>
</html>