<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.jpg" width="128" height="45">  </a>
    <a href="/product/productslist">Lista de produtos</a>
</nav>