<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/admin/index"><img src="/img/logo.jpg" width="128" height="45"></a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/product/productslist">Lista de produtos</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

      </ul>

</nav>