<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/header.ejs')%>
    <title>Supermarket</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <h1> Bem vindo a página home! </h1>
    
<div class="container">
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produtos</th>
                <th><a href="/product/create">Casdastrar Produto</a></th>
                <th><a href="/product/productslist">Lista de Produtos</a></th>
            </tr>
        </thead>
    </table>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Categorias</th>
                <th><a href="/admin/categories/createcategory">Criar categoria</a></th>
                <th><a href="/admin/categories/categorieslist">Lista de categorias</a></th>
            </tr>
        </thead>
    </table>
        
</div>

</body>
    <%- include ('partials/footer.ejs') %>
</html>