<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/header.ejs')%>
    <link rel="stylesheet" href="/css/index.css">
    <title>Supermarket</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h2 id="titulo"> Bem vindo a página home! </h2>
        <hr>    
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produtos</th>
                <th><a href="/product/create">Casdastrar Produto</a></th>
                <th><a href="/product/productslist">Lista de Produtos</a></th>
            </tr>
        </thead>
    </table>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Categorias</th>
                <th><a href="/admin/categories/categorieslist">Lista de categorias</a></th>
            </tr>
        </thead>
    </table>

    </table>
        
</div>

</body>
    <%- include ('partials/footer.ejs') %>
</html>